
@using RazorLight
@inherits TemplatePage<dotnetCoreTestRazorLight.Models.Simple1>

<div style="color:red;font-weight:bold;">
    Hello @Model.Prop1
</div>

<table>
    <caption>@Model.Prop2</caption>
</table>